{%extends 'base.html'%}
{% load static %}
{% block content %}

<div class="rules-section">
    <div class="container">
        <h2><strong>RULES</strong></h2>
        <ul>
            <li>This test comprises of <strong>25 questions</strong> which includes
                Logical Reasoning, Verbal Reasoning, Data Interpretation and Aptitude.</li>
            <li>Each question carries <strong>4 mark for correct answer. Incorrect
                    answer will fetch you negative marks of - 1.</strong></li>
            <li>No marks if question is not attempted.</li>
            <li><strong>Just Select the Option or Click Next Question(without
                    selecting any option) to skip the Question</strong></li>
            <li>Time limit is <strong>30 minutes</strong>.</li>
            <li>Once you skip to the next question you cannot go back.</li>
        </ul>
    </div>
</div>

<div class="section prizes-section">
    <div class="container">
        <div class="col-lg-12 ">
            <h2><strong>PRIZES For CIT 5.0</strong></p>
                <img src="{% static 'img/prize1.jpeg'%}" alt="PRIZES">
        </div>
    </div>
</div>

{%endblock%}